

<div class="hero-unit">
<h1>Welcome to omrails!</h1>
 <p>
 	You've found the home page for 
 	<%= link_to "One Month Rails", "http://onemonthrails.com" %>

	application.</a>
 	</p>
<p>
	<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large"%>
</p>
</div>

